@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600&family=Fira+Sans+Condensed:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Assistant', sans-serif;
}
a {
    text-decoration: none !important;
}

.title {
    border: 1px solid rgba(128, 128, 128, 0.336);
    margin: 2px 20px;
}
.navbar {
    box-shadow: 0 -1px 2px 0 rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.headericon {
    font-size: 25px;
}

.form-control:focus {
    /* box-shadow: 0 0 0 0.25rem white; */
    border-color: white !important;
    box-shadow: none !important;
}
.detail h6 {
    font-size: 20px;
    color: #606770;
    margin-bottom: 30px;
}
.detail p {
    text-align: center;
}

.detail a,
.detail p {
    color: black;
    font-size: 20px;
}
.btn-close:focus {
    box-shadow: none;
}

.link {
    color: black !important;
    font-size: 16px !important;
    padding-left: 30px !important;
    margin: 5px 0 !important;
    font-weight: 600 !important;
}
.product img {
    /* padding: 20px; */
    object-fit: cover;
    width: 100%;
    /* height: 100%; */
    transition: transform 100ms ease;
}
.product p {
    text-decoration: none;
    margin: 0;
    padding: 1px;
}

.product:hover {
    transform: scale(1.02);
}
.social-icon a {
    color: rgba(0, 0, 0, 0.623);
    font-size: 30px;
    padding-right: 20px;
}
.navbar-toggler-icon {
    color: white;
    background-color: white;
    padding: 5px;
}
.navbar-toggler {
    background-color: white;
}

.singleProduct img {
    width: 70%;
    height: 70%;
    border-radius: 10px;
}

.singleProduct .red,
.blue,
.white,
.green {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    border-radius: 50%;
}

table th {
    font-size: 20px;
    font-weight: 500;
    color: #606060;
}
table td {
    color: #bfbfbf;
    font-size: 16px;
}
.addtocart {
    padding: 10px 90px !important;
    background: #474747 !important;
    letter-spacing: 1px !important;
    border: none !important;
}
.addtocart:hover,
.wishlist:hover {
    background: #474747;
}
.bs-btn-active-bg {
    background: #474747;
}

/*  */
.input {
    border: none !important;
}
.input:focus {
    box-shadow: none;
}

.addbtn {
    padding: 10px;
    background-color: #fbbc04 !important;
    color: white !important;
    border: none;
    border-radius: 70%;
}

.detail img {
    width: 20%;
    height: 20%;
}

span {
    color: black;
}

.dropdownmenu {
    position: absolute;
    top: 5.5rem;
    right: 4rem;
    width: 250px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.514);
    transition: 0.04s ease-in-out;
}

.dropdownmenu ul .li {
    display: flex;
    color: gray;
    font-size: 14px;
}
.dropdownmenu ul .li:hover {
    transform: scale(1.009);
    color: black;
    font-size: 14px;
}

.account img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}
.profile-btn {
    background-color: #ff3f6c !important;
    border: none !important;
}
.profile-btn:hover {
    background-color: #ff3f6ce0 !important;
}
.sidebar {
    color: gray;
    padding-bottom: 10px;
}

/* a:hover {
    color: grey !important;
} */

.sidebar {
    color: grey;
}

.sidebar:hover {
    color: grey;
}

.sidebar.active {
    color: #14d0c5;
}

/*  address*/
.addAddress {
    background-color: transparent !important;
    color: #526cd4 !important;
    font-weight: bold !important;
}
/* overview */
.overviewcards:hover {
    background-color: #f5f5f6;
}
/* coupons */

.offer {
    border-right: 1px solid black;
}
.offer h6 {
    color: #14d0c5;
    letter-spacing: 4px;
}
.coupons p {
    color: gray;
}
/* policy */
.policy p {
    font-size: 12px;
    color: #aaa4ac;
}

/* emptyWishlist */

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.empty img {
    height: 150px;
}

.emptyWishlistbtn {
    padding: 10px 50px !important;
    background: white !important;
    color: #3466eb !important;
    font-weight: bold !important;
    letter-spacing: 1px;
    font-size: 18px !important;
    border: 1px solid #3466eb !important;
}
.bin {
    position: absolute !important;
    top: 10px;
    right: 15px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    background: #d8d8da;
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
}

/* empty cart btn */
.emptyCartbtn {
    padding: 10px 25px !important;
    background: white !important;
    color: #ff3f6c !important;
    font-weight: bold !important;
    letter-spacing: 1px;
    font-size: 15px !important;
    border: 1px solid #ff3f6c !important;
}
/* cart */
.cartdetails img {
    height: 150px !important;
}

.quantity p {
    border: 2px solid gray;
    width: 15px;
    height: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    font-size: 20px;
}
.cartbin {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
}
.movetowishbtn {
    background-color: #ff3f6c !important;
    border: none !important;
}
